.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#pageTitle {
  background-color: #368ac0;
  height: 100px;
  color: white;
}

#pageTitle > h1 {
  padding-top: 50px;
}
/*Button CSS, probably should be split into its own file */
#optionsDiv > * {
  margin: 25px;
}

#inputDiv {
  display: block;
}
#inputDiv > label {
  margin: bottom;
}

#searchBtn {
    background-color: #368ac0;
}
